<p>
  <mat-toolbar color="primary">
    <button mat-raised-button color="accent" routerLink="/home" class="button-margin">List of teams</button>
    <button mat-raised-button color="accent" routerLink="/teamcreation" class="button-margin">Create</button>
    <button mat-raised-button color="accent" routerLink="/modifyteams" class="button-margin">Modify</button>
    <button mat-raised-button color="accent" routerLink="/deleteteams" class="button-margin">Delete</button>
    <button mat-raised-button color="accent" routerLink="/login" class="authenticationbuttons">Login</button>
    <button mat-raised-button color="accent"  class="authenticationbuttons" (click)="logout()">Logout</button>
  </mat-toolbar>
</p>
