<table mat-table [dataSource]="formulaOneTeams" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let formulaoneteam"> {{formulaoneteam.name}} </td>
  </ng-container>

  <ng-container matColumnDef="foundationYear">
    <th mat-header-cell *matHeaderCellDef> Foundation Year </th>
    <td mat-cell *matCellDef="let formulaoneteam"> {{formulaoneteam.foundationYear}} </td>
  </ng-container>

  <ng-container matColumnDef="worldChampionshipsWon">
    <th mat-header-cell *matHeaderCellDef> World Championships Won </th>
    <td mat-cell *matCellDef="let formulaoneteam"> {{formulaoneteam.worldChampionshipsWon}} </td>
  </ng-container>



  <ng-container matColumnDef="paidTheEntryFee">
    <th mat-header-cell *matHeaderCellDef> Paid the entry fee </th>

    <td mat-cell *matCellDef="let formulaoneteam">
      <div *ngIf="formulaoneteam.paidTheEntryFee == 1; else elseBlock">Yes</div>
      <ng-template #elseBlock>No</ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
